@page
@model ShopEasy.Pages.CheckoutModel
@{
	ViewData["Title"] = "Checkout";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Checkout.css" />
</head>

<h2>CheckOut</h2>

<div class="checkout-container">
<div class="order-summary">  
    <h3>Order Summary</h3>
        @foreach (var item in Model.CartItems)
    {        
        <div class="order-item">
        <img src="@item.Product.Image" alt="@item.Product.Name" />            
        <div>
        <h6>@item.Product.Name</h6>
        <p>Price: $@item.Product.Price</p>
        <p>Quantity: @item.Quantity</p>
        
            </div>
            </div>
    }
    <h4>Total: $@Model.TotalAmount.ToString("0.00")</h4>
</div>
<div class="shipping-info">
        <h3>Shipping Information</h3>
        <form>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="John" required/>
            
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Smith" required />
            
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="johnsmith@gmail.com" required />
            
            <label for="phone">Phone</label>
            <input type="text" id="phone" placeholder="0123456789" required />
            
            <button type="submit">Place Order</button>
        </form>

</div>
</div>


