h2 {
    text-align: center;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}
    .item img {
        max-width: 300px;
        width: 100%;
        display: block;
    }
.item-detail {
    display: flex;
    flex-direction: column;
}
.btn{
    display:flex;
    flex-direction:row;
    gap:10px;
}